@model Course

<h2>Видалити курс</h2>

<p>Ви дійсно хочете видалити цей курс - <b>@Model.Title @Model.Description</b>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id"/>
    <button class="btn btn-danger">Видалити</button>
</form>